section.hr
    .container
        h3.hr__title Мы любим писать про HR

        .hr__list.swiper
            .swiper-wrapper
                .swiper-slide.hr__card
                    .hr__card-img
                        +img('hr-card-1.png', 'img-fluid')
                    a.hr__card-title(href="#") Внимание! Манипулятор на собеседовании
                    .hr__card-desc
                        div 19 сентября
                        div 234 просмотров

                .swiper-slide.hr__card
                    .hr__card-img
                        +img('hr-card-1.png', 'img-fluid')
                    a.hr__card-title(href="#") Встречаем по одёжке – как оценить внешний вид кандидата в современных реалиях
                    .hr__card-desc
                        div 13 сентября
                        div 211 просмотров

                .swiper-slide.hr__card
                    .hr__card-img
                        +img('hr-card-1.png', 'img-fluid')
                    a.hr__card-title(href="#") Кандидат, которому вы отказали, запросил обратную связь. Давать или не давать?
                    .hr__card-desc
                        div 19 сентября
                        div 234 просмотров

            .swiper-pagination.hr__pagination
