.hr {
  padding: 50px 0;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 24px;
  }

  &__list {
    padding-bottom: 30px;
  }

  &__card {
    padding: 24px 18px 12px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 94%;

    @include media-breakpoint-up(md) {
      width: 46%;
    }

    @include media-breakpoint-up(lg) {
      padding: 24px 24px 20px;
      width: 100%;
    }

    &-img {
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 16px;
    }

    &-title {
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 10px;
      text-decoration: none;
      color: $body-color;
      text-align: center;

      @include media-breakpoint-up(lg) {
        text-align: left;
      }

      &:hover {
        color: lighten($body-color, 10%);
      }
    }

    &-desc {
      display: flex;
      justify-content: space-between;
      font-weight: 400;
      font-size: 14px;
      line-height: 180%;
      color: rgba(64, 60, 60, 0.6);
      margin-top: auto;
    }
  }

  &__pagination {
    top: auto !important;
    bottom: 0 !important;

    .swiper-pagination-bullet {
      background: #E9614B;
      opacity: 0.3;
      box-shadow: 12px 12px 19px #FDC5C5;
      transition: all 0.2s ease-in;
    }
    .swiper-pagination-bullet-active {
      background: #E9614B;
      box-shadow: 1px 3px 4px #FDC5C5;
      opacity: 1;
    }
  }
}
