.header {
  padding-top: 34px;
  padding-bottom: 10px;

  @include media-breakpoint-up(md) {
    padding-top: 22px;
  }

  &__brand {
    @include media-breakpoint-up(lg) {
      margin-right: 20px;
      padding-bottom: 4px;
    }
  }

  .nav-link {
    border-radius: 4px;
    @include media-breakpoint-up(md) {
      padding-left: 10px;
      padding-right: 10px;
    }
    @include media-breakpoint-up(lg) {
      padding-left: 22px;
      padding-right: 22px;
    }
  }
  .nav-item{
    &:hover .nav-link {
      background-color: rgba(240,142,128,.1);
    }
  }

  &__contact {
    @include media-breakpoint-only(md) {
      position: absolute;
      right: 0;
      bottom: -38px;
    }
    @include media-breakpoint-up(lg) {
      margin-right: 22px;
    }

    &-title {
      font-size: 12px;
      opacity: 0.6;
      line-height: 1;
    }

    &-phone {
      font-weight: 700;
      font-size: 16px;
      line-height: 1;
      color: #403C3C;
      text-decoration: none;
    }
  }

  &__login {
    border-radius: 10px;
    padding: 6px 22px;
    font-weight: 600;
    font-size: 14px;

    .icon {
      margin-right: 5px;
      margin-top: -1px;
    }
  }
}
