header.header.layout-navbar
	.container
		nav.navbar.navbar-expand-lg.navbar-light.bg-light
			a.navbar-brand(href="#")
				+img('logo.svg')
			button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation")
				span.navbar-toggler-icon
			#navbarContent.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					li.nav-item
						a.nav-link(href="#" aria-current="page") О нас
					each link,title  in header.nav
						li.nav-item(class={active: link === pageLink})
							a.nav-link(href= link)=title
				form.form-inline.my-2.my-lg-0
					input.form-control.mr-sm-2(type="search" placeholder="Search" aria-label="Search")
					button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search

		block header

