.salute {
  padding-top: 10px;
  position: relative;
  overflow: hidden;
  max-width: 100%;

  @include media-breakpoint-up(lg) {
    padding-top: 64px;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    color: #403C3C;
    margin-bottom: 195px;

    @include media-breakpoint-up(md) {
      font-size: 36px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 40px;
      line-height: 110%;
      margin-bottom: 30px;
    }
  }

  &__desc {
    display: flex;

    &-item {
      font-size: 16px;
      color: rgba(64, 60, 60, 0.8);
      position: relative;
      padding-right: 15px;
      margin-right: 22px;
      line-height: 19px;

      &_1 {
        width: 175px;

        &:after {
          content: '';
          display: block;
          width: 2px;
          height: 70px;
          position: absolute;
          right: 0;
          top: 0;
          background-color: #FFFFFF;
        }
      }
      &_2 {
        width: 244px;

        &:after {
          content: '';
          display: block;
          width: 2px;
          height: 70px;
          position: absolute;
          right: 0;
          top: 0;
          background-color: #FFFFFF;
        }
      }
      &_3 {
        width: 244px;
      }
    }
  }

  &__pet {
    position: absolute;
    height: 550px;
    width: 370px;
    top: 70px;
    right: -142px;

    img {
      max-width: 100%;
    }
  }

  &__form {
    width: 343px;

    padding: 34px 16px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(9.5px);
    border-radius: 10px;

    &-title {
      margin-top: 0;
      margin-bottom: 1rem;
      font-weight: 700;
      font-size: 28px;
      line-height: 120%;
      text-align: center;
      color: #403C3C;
      letter-spacing: -0.01em;
    }

    &-item {
      + .salute__form-item {
        margin-top: 12px;
      }
      &:last-child {
        margin-top: 16px;
      }
    }

    .btn {
      width: 100%;
    }

    &-help {
      font-size: 12px;
      line-height: 120%;
      opacity: 0.4;
      margin-top: 9px;

      > a {
        color: $body-color;
      }
    }
  }
}
