.salute {
  padding-top: 10px;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 40px;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 64px;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    color: #403C3C;
    margin-bottom: 195px;
    order: 0;

    @include media-breakpoint-up(md) {
      font-size: 36px;
      margin-bottom: 24px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 40px;
      line-height: 110%;
      margin-bottom: 30px;
    }
  }

  &__desc {
    @include media-breakpoint-down(md) {
      margin-top: 64px;
      order: 2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 68px 60px;
      gap: 36px;
      background: rgba(255, 255, 255, 0.8);
      border: 1px solid #FFFFFF;
      border-radius: 10px;
    }

    @include media-breakpoint-up(md) {
      display: flex;
      align-items: center;
      margin-bottom: 28px;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: 73px;
    }

    &-item {
      color: rgba(64, 60, 60, 0.8);
      position: relative;
      font-size: 18px;


      @include media-breakpoint-up(md) {
        padding-right: 15px;
        margin-right: 22px;
        font-size: 12px;
        line-height: 120%;
      }

      @include media-breakpoint-up(lg) {
        font-size: 16px;
        line-height: 19px;
      }

      .icon {
        position: absolute;
        left: -34px;
        font-size: 24px;
        
        @include media-breakpoint-up(md) {
          display: none;
        }
      }

      &_1 {
        @include media-breakpoint-up(md) {
          width: 104px;
        }
        @include media-breakpoint-up(lg) {
          width: 175px;
        }

        @include media-breakpoint-up(md){
          &:after {
            content: '';
            display: block;
            border-right: 2px solid #fff;
            height: 70px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }

      }
      &_2 {
        @include media-breakpoint-up(md) {
          width: 116px;
        }

        @include media-breakpoint-up(lg) {
          width: 244px;
        }
        @include media-breakpoint-up(md){
          &:after {
            content: '';
            display: block;
            height: 70px;
            border-right: 2px solid #fff;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
      &_3 {
        @include media-breakpoint-up(md) {
          width: 110px;
        }

        @include media-breakpoint-up(lg) {
          width: 244px;
        }
      }
    }
  }

  &__pet {
    position: absolute;
    height: 550px;
    width: 370px;
    top: 70px;
    right: -142px;
    z-index: -1;

    @include media-breakpoint-up(md) {
      height: 350px;
      width: 240px;
      top: 19px;
      right: 42px;
    }

    @include media-breakpoint-up(lg) {
      height: 550px;
      width: 370px;
      top: -42px;
      right: -8px;
    }

    img {
      max-width: 100%;
    }
  }

  &__form {
    padding: 34px 16px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(9.5px);
    border-radius: 10px;
    max-width: 100%;

    @include media-breakpoint-up(md) {
      padding: 20px 18px;
    }

    @include media-breakpoint-up(lg) {
      padding: 20px 24px;
      width: 978px;
    }

    &-title {
      margin-top: 0;
      margin-bottom: 1rem;
      font-weight: 700;
      font-size: 28px;
      line-height: 120%;
      text-align: center;
      color: #403C3C;

      @include media-breakpoint-up(md) {
        font-weight: 600;
        font-size: 16px;
        text-align: left;
        margin-bottom: 12px;
      }
    }

    &-item {
      @include media-breakpoint-down(md) {
        + .salute__form-item {
          margin-top: 12px;
        }
        &:last-child {
          margin-top: 16px;
        }
      }

      @include media-breakpoint-up(md) {

      }
    }

    &-help {
      font-size: 12px;
      line-height: 120%;
      opacity: 0.4;
      margin-top: 9px;

      > a {
        color: $body-color;
      }
    }

    &-name {
      @include media-breakpoint-up(md) {
        width: 122px;
      }
      @include media-breakpoint-up(lg) {
        width: 168px;
      }
    }
    &-phone {
      @include media-breakpoint-up(md) {
        width: 138px;
      }
      @include media-breakpoint-up(lg) {
        width: 192px;
      }
    }
    &-btn {
      display: block;
      width: 100%;
      @include media-breakpoint-up(lg) {
        width: 234px;
      }
    }
  }
}
